<% playlists = YAML.load_file(Rails.root.join('config/music_playlists.yml')) %>
<% playlist = playlists[year.to_i] %>
<% if playlist %>
  <div class="music-player music-player--<%= year %>">
    <div class="music-player__label">now playing</div>
    <div class="music-player__frame"
         data-yt-playlist="<%= playlist['playlist_id'] %>">
    </div>
  </div>
<% end %>
