<% content_for :body_data, "home" %>
<% content_for :head do %>
  <style>
    [data-page="home"] { background-image: url('<%= asset_path("lake-of-the-woods.jpg") %>'); }
  </style>
<% end %>
<marquee class="home-marquee" behavior="scroll" direction="left" scrollamount="4">
  👀 excuse me?? this is a PRIVATE journal &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; why are you even here &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; this is none of your business!!! &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; did christine give you this link or did you go LOOKING for it &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; close this tab right now &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; i'm serious &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp; 👀
</marquee>

<div class="home-card">
  <h1>Christine Clay Moreau</h1>

  <ul class="year-list">
    <% @years.each do |year| %>
      <li><%= link_to year, year_path(year: year) %></li>
    <% end %>
  </ul>
</div>

<div class="home-stats">
  <div class="visitor-counter">
    <span class="visitor-counter__label">visitors</span>
    <span class="visitor-counter__digits"><%= @visitor_count.to_s.rjust(6, "0") %></span>
  </div>
  <div class="visitor-counter">
    <span class="visitor-counter__label">words written</span>
    <span class="visitor-counter__digits"><%= number_with_delimiter(@word_count) %></span>
  </div>
</div>
