<% content_for :body_data, "home" %>
<h1>Christine Clay Moreau</h1>
<p class="home-tagline">an archive, more or less</p>

<ul class="year-list">
  <% @years.each do |year| %>
    <li>
      <%= link_to year, year_path(year: year) %>
      <span class="year-list__count"><%= pluralize(@entry_counts[year], "entry") %></span>
    </li>
  <% end %>
</ul>

<div class="home-stats">
  <div class="visitor-counter">
    <span class="visitor-counter__label">visitors</span>
    <span class="visitor-counter__digits"><%= @visitor_count.to_s.rjust(6, "0") %></span>
  </div>
  <div class="visitor-counter">
    <span class="visitor-counter__label">words written</span>
    <span class="visitor-counter__digits"><%= number_with_delimiter(@word_count) %></span>
  </div>
</div>
